body {
    background-color: #B99470;
}

h1 {
    text-align: center;
    color: #3E3232;
}

.container {
    display: flex;
    border-color: rgb(118, 152, 216) lightblue darkcyan cyan;
    float: left;
}

.item-1 {
    background-color: #F8F4E1;
}

.item-2 {
    background-color: #AF8F6F;
}

.item-3 {
    background-color: #74512D;
}

.item-4 {
    background-color: #543310;
}

.kotak {
    height: 670px;
    width: 200px;
    border: solid;
    margin-left: 50px;
}